<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Name : <input type="text" name="Name" value="@Model.Name" />
    </div>
</body>
</html>
