<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="logFilePath" value="G:\C-Dac\7_.NET\Sunbeam\Day06\log.txt"/>
		<add key="XMLLogFilePath" value="G:\C-Dac\7_.NET\Sunbeam\Day06\log.xml"/>
	</appSettings>
</configuration>